* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar__wrapper {
  background: #141416;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 382px;
}

.divider {
  height: 40px;
  width: 2px;
  border-radius: 2px;
  background-color: #353945;
}
.nav__left-list {
  display: flex;
  justify-content: space-around;
  width: 170px;
  color: #777e90;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.nav__left-list :last-child {
  color: #777e90;
}

.nav__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 573px;
}
.burger__menu-icon {
  display: none;
}

.search__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #353945;
  padding: 5px 12px 5px 16px;
  border-radius: 8px;
  width: 256px;
  height: 40px;
  overflow: hidden;
  background-color: #141416;
}
.search__line > input {
  border: none;
  width: 180px;
  outline: none;
  background-color: transparent;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.search__line > img {
  opacity: 0.9;
  background: transparent;
  cursor: pointer;
}
.notification {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
.notification > img {
  width: 24px;
  height: 24px;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: #45b26b;
  margin-bottom: 25px;
}

.upload__btn {
  width: 80px;
  height: 40px;
  border-radius: 90px;
  background: #3772ff;
  padding: 12px, 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload__btn > a {
  background-color: #3772ff;
  color: #fcfcfd;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.wallet__btn {
  height: 40px;
  width: 145px;
  border-radius: 90px;
  border: 2px solid #777e91;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet__btn > a {
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fcfcfd;
  cursor: pointer;
}

.header__wrapper {
  background: #141416;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.title__main {
  text-align: center;
}
.title__main > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #777e90;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title__main > h1 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}
.title__main :nth-child(2) {
  display: none;
}

.header__search-btn {
  height: 48px;
  width: 190px;
  border: 2px solid #777e91;
  border-radius: 90px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__search-btn > span {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.main__wrapper {
  background: #141416;
}

.main__page {
  display: flex;
  justify-content: space-between;
  padding-top: 110px;
}

.main__page-left {
  display: flex;
  width: 55%;
}
.main__page-left > img {
  width: 100%;
  border-radius: 16px;
}

.main__page-right {
  width: 370px;
  height: 752px;
}

.user__wallet-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main__page-title {
  width: 352px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #fcfcfd;
}

.main__page-hiden-title {
  display: none;
  width: 352px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #fcfcfd;
}

.avatar__wallet-info {
  display: flex;
  justify-content: space-between;
  width: 352px;
}

.avatar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar > img {
  width: 40px;
  height: 40px;
}
.avatar__wallet-title > h6 {
  color: #4a4f5d;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.avatar__wallet-title > h5 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.wallet {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 160px;
}

.wallet > img {
  width: 40px;
  height: 40px;
}

.bid__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #23262f;
  width: 360px;
  height: 300px;
  padding: 26px;
  border-radius: 24px;
  text-align: center;
}

.current__bid > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.current__bid > h2 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.current__bid > h3 {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.auction > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}

.auction__timer {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.timer__nums {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.timer__def {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bid__btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  padding: 0px;
  width: 360px;
  height: 104px;
}
.first__btn {
  width: 352px;
  height: 48px;
  background: #3772ff;
  padding: 16px 24px;
  border-radius: 90px;
  border: none;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.second__btn {
  border: 2px solid #353945;
  border-radius: 90px;
  background: #141416;
  width: 352px;
  height: 48px;
  padding: 16px 24px;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90px;
  height: 40px;
}

.left-arrow {
  width: 40px;
  height: 40px;
}

.right-arrow {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #353945;
  padding: 8px;
}

.first__section-wrapper {
  background: #141416;
}

.first__section {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
  padding-bottom: 135px;
}
.first__section-left {
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding-right: 20px;
}

.first__section-left > img {
  border-radius: 12px;
}
.left__section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__section-ava {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left__section-user-wallet-info > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.left__section-user-wallet-info > h6 {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.left__section-user-bid-info > p {
  color: #575a66;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3px;
}
.left__section-user-bid-info > div {
  padding: 4px 4px;
  border: 2px solid #10d856;
  border-radius: 4px;
  color: #45b36b;
  text-align: center;
}

.first__section-center {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.center__section-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 351px;
}
.center__bid-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center__bid-info > button {
  background: #141416;
}

.center__bid-info > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.center__ava-eth {
  display: flex;
  align-items: center;
  gap: 11px;
}

.center__ava-eth > p {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.user__crypto-balance {
  border: 2px solid #45b36b;
  border-radius: 4px;
  color: #45b26b;
  padding: 4px 4px;
}

.center__bid-info > button {
  display: flex;
  align-items: center;
  border: 2px solid #777e91;
  border-radius: 90px;
  color: #fcfcfd;
  padding: 8px 12px;
  height: 32px;
  width: 98px;
}
#center__bid-btn {
  background: #3772ff;
  border: none;
}

.first__section-divider {
  background: #353945;
  width: 1px;
  height: 512px;
  margin: 0 10px;
}

.first__section-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.first__section-right-users {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.first__section-right > span {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.right__section-users-info {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 225px;
}

.right__section-user-name {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.right__section-user-wallet {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.crypto-name {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.right__section-bottom-divider {
  background: #353945;
  width: 224px;
  height: 1px;
}

.right__section-btn {
  border: 2px solid #777e91;
  border-radius: 90px;
  background: #141416;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 158px;
  height: 40px;
  padding: 12px, 16px;
}

#right__section-arrow {
  padding-left: 10px;
}

.sellers__cards-section-wrapper {
  background-color: #23262f;
  padding: 110px 50px;
}

.popular__seller-cards {
  display: flex;
  flex-direction: column;
  gap: 64px;
  background: #23262f;
}

.popular__sellers-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23262f;
}

.title__left > h3 {
  background-color: #23262f;
  color: #777e90;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.title__left > h2 {
  background-color: #23262f;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

#vector-left {
  background: #23262f;
  width: 20px;
  height: 25px;
  padding-left: 10px;
}

.title__right {
  background: #23262f;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title__right > h5 {
  background: #23262f;
  color: #b1b5c3;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
.title__right > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  gap: 18px;
  border: 2px solid #353945;
  border-radius: 12px;
  background: #23262f;
  width: 256px;
  height: 48px;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

#vector-right {
  background: #23262f;
  border: 2px solid #353945;
  border-radius: 100px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.sellers__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23262f;
}

.cards__arrow-left {
  background: #23262f;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: #141416;
  border-radius: 16px;
  width: 200px;
  height: 250px;
  margin: 0 5px;
}

.card__icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.card__icons > button {
  background: #3772ff;
  border-radius: 24px;
  border: none;
  width: 51px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.card-cup {
  background: #3772ff;
}

.second__card {
  background: #9757d7 !important;
}
.card-circle {
  background: #9757d7;
}

.third__card {
  background: #45b26b !important;
}
.card-lightning {
  background: #45b26b;
}

.fourth__card {
  background: #23262f !important;
}

.card-circle2 {
  background: #23262f;
}

.card__divider {
  width: 150px;
  height: 1px;
  background: #353945;
}

.card__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__user > p {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
}

.card__user > span {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
}

.cards__arrow-right {
  background: #23262f;
  border: 1px solid #e6e8ec;
  border-radius: 50px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.card__arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.sellers__arrow-left {
  width: 34px;
  height: 34px;
}
.sellers__arrow-right {
  background: #23262f;
  border: 1px solid #e6e8ec;
  border-radius: 50px;
  padding: 4px;
  width: 30px;
  height: 30px;
}
#popular__sellers-arrows {
  display: none;
}

.hot__bid-section-wrapper {
  background: #141416;
}

.hot__bids {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 136px;
  padding-bottom: 128px;
}

.hot__bid-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hot__bid-title > h2 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.hot__bid-arrows {
  display: flex;
  gap: 8px;
}

.hot__bid-arrow-right {
  border: 2px solid #353945;
  border-radius: 40px;
  padding: 8px;
  width: 35px;
  height: 35px;
}

.hot__bid-cards {
  display: flex;
  justify-content: space-between;
}

.bid__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 256px;
  font-family: "Poppins";
  margin: 0 5px;
}
.bid__card-second {
  display: none;
}

.bid__card > img {
  width: 100%;
}

.card__title {
  display: flex;
  justify-content: space-between;
}

.card__title > h4 {
  color: #fcfcfd;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.card__title > span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #45b36b;
  border-radius: 4px;
  width: 68px;
  height: 26px;
  color: #45b26b;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.card__avatar-group {
  display: flex;
  justify-content: space-between;
}

.avatar__group :nth-child(2) {
  margin-left: -10px;
}

.avatar__group :last-child {
  margin-left: -10px;
}

.card__avatar-group > span {
  color: #e6e8ec;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.hot__bids-divider {
  background: #353945;
  border-radius: 1px;
  width: 256px;
  height: 1px;
}

.card__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.filter__info :nth-child(2) {
  color: #777e90;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.filter__info :last-child {
  color: #fcfcfd;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.card__filter > span {
  color: #777e90;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.hot__collections-section-wrapper {
  background: #23262f;
}

.hot__collections {
  padding-top: 128px;
  padding-bottom: 160px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hot__collections > h2 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.hot__collections-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.collection__card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 360px;
}

.collection__img-group {
  display: flex;
  justify-content: space-between;
  width: 360px;
}
.collection__img-group :first-child {
  width: 100px;
}
.collection__img-group :nth-child(2) {
  width: 100px;
}
.collection__img-group :last-child {
  width: 100px;
}

.collection__by-user {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.collection__by-user > h3 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.collection__by-user > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.collection__by-user > div > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.collection__by-user > div > div > img {
  width: 24px;
  height: 24px;
}

.collection__by-user > div > div > span {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.collection__by-user > div > span {
  border: 2px solid #e6e8ec;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #23262f;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  width: 69px;
  height: 26px;
}
#collection__section-arrows {
  display: none;
}

.section__discover {
  background: #141416;
}
.discover {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}

.discover__top {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.discover__top > h2 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.discover__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discover__nav-left-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #353945;
  border-radius: 12px;
  background: #141416;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 180px;
  height: 48px;
  padding: 10px 10px;
}

#discover-vector {
  border: 2px solid #353945;
  border-radius: 100px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.discover__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
}

.discover__nav-list :first-child {
  background: #353945;
  border-radius: 100px;
  padding: 6px 12px;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.discover__nav-list > li {
  color: #777e90;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.discover__filter-btn {
  background: #3772ff;
  border-radius: 90px;
  border: none;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 16px 24px;
}

.discover__divider {
  width: 1110px;
  height: 1px;
  background: #353945;
}

.discover__filter-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discover__filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.discover__filter > span {
  color: #b1b5c3;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.filter__btns {
  border: 2px solid #353945;
  border-radius: 12px;
  background: #141416;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding: 10px 10px;
  height: 48px;
  width: 256px;
}

.advanced__filter {
  display: none;
  width: 100%;
}
.advanced__filter > button {
  background: #3772ff;
  border-radius: 90px;
  border: none;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  height: 48px;
}

.discover-vector {
  border: 2px solid #353945;
  border-radius: 100px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.discover__loading-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover__loading-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #777e91;
  border-radius: 90px;
  background: #141416;
  width: 132px;
  height: 40px;
  padding: 12px 16px;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

#discover__section-arrows {
  display: none;
}

.promo__section-wrapper {
  background: #141416;
}

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.promo__left {
  display: flex;
  flex-direction: column;
  width: 490px;
  gap: 40px;
}

.promo__left-title > h5 {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.promo__left-title > h2 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 64px;
  line-height: 60px;
  margin-bottom: 20px;
  letter-spacing: -0.02em;
}

.promo__left-title > h6 {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.promo__left-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 295px;
}

.promo__left-btns > button {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.promo__left-btns :first-child {
  background: #3772ff;
  border-radius: 90px;
  border: none;
  width: 119px;
  height: 48px;
}

.promo__left-btns :nth-child(2) {
  background: #141416;
  border: 2px solid #777e91;
  border-radius: 90px;
  width: 160px;
  height: 48px;
}

.promo__right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
}
.promo__right > img {
  width: 95%;
}

.footer__wrapper {
  background: #141416;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 80px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__left > h3 {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
  letter-spacing: -0.01em;
  width: 256px;
}

.footer__left :last-child {
  display: none;
}

.footer__stacks-and-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__stacks-and-info > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
}

.footer__hiden-info {
  display: none;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info__list > li {
  color: #777e90;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.info__list :last-child {
  display: none;
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 352px;
}

.footer__right > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer__right-subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__right-subscription > p {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer__email-inp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #353945;
  border-radius: 90px;
  overflow: hidden;
  padding: 10px 10px 10px 16px;
}

.footer__email-inp > input {
  background: #141416;
  border: none;
  outline: none;
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
}

.footer__email-inp > img {
  background: #3772ff;
  border-radius: 100px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
}

.footer__bottom :first-child {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.footer__bottom :nth-child(2) {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.footer__bottom :nth-child(2) > span {
  color: #3772ff;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  padding-left: 8px;
}

.footer__divider {
  display: none;
  background: #353945;
  width: 100%;
  height: 1px;
}

@media all and (max-width: 1130px) {
  .right__section-users-info {
    width: 99%;
  }
  .right__section-bottom-divider {
    width: 135px;
  }
  .bid__card {
    width: 220px;
  }
  .hot__bids-divider {
    width: 99%;
  }
  .collection__card {
    width: 300px;
  }
  .collection__img-group {
    width: 300px;
  }
  .collection__img-group :first-child {
    width: 90px;
  }
  .collection__img-group :nth-child(2) {
    width: 90px;
  }
  .collection__img-group :last-child {
    width: 90px;
  }
  .discover__divider {
    width: 99%;
  }
}

@media all and (max-width: 1030px) {
  .nav__left-list {
    display: none;
  }
  .divider {
    display: none;
  }
  .nav__right {
    width: 900px;
    justify-content: space-between;
  }
  .main__page-right {
    width: 304px;
  }
  .main__page-title {
    display: none;
  }
  .main__page-hiden-title {
    display: block;
    width: 300px;
  }
  .avatar__wallet-info {
    width: 300px;
  }
  .bid__wrapper {
    width: 300px;
  }
  .bid__btns {
    width: 300px;
  }
  .first__btn {
    width: 295px;
  }
  .second__btn {
    width: 295px;
  }
  .first__section {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .first__section-divider {
    display: none;
  }
  .first__section-right > span {
    padding-top: 40px;
  }
  .first__section-right-users {
    flex-direction: row;
    gap: 80px;
  }
  .right__section-btn {
    display: none;
  }
  .right__section-bottom-divider {
    display: none;
  }
  .cards__arrow-left {
    display: none;
  }
  .cards__arrow-right {
    display: none;
  }

  .hiden__sellers-card {
    display: none;
  }
  .bid__card-second {
    display: flex;
  }
  .bid__card-fourth {
    display: none;
  }
  .card__icons {
    justify-content: space-evenly;
  }
  .hot__bid-cards {
    justify-content: space-evenly;
  }
  .hot__collections-cards {
    justify-content: space-evenly;
    row-gap: 40px;
  }
  .discover__nav-list {
    width: 400px;
  }
  .discover__nav-list :nth-child(5) {
    display: none;
  }
  .discover__nav-list :last-child {
    display: none;
  }
  #discover-filter-third {
    display: none;
  }
  #popular__sellers-arrows {
    display: flex;
  }
}

@media all and (max-width: 850px) {
  .main__page {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 50px;
  }
  .user__wallet-info {
    align-items: center;
  }
  .first__section-center {
    display: none;
  }
  .first__section-right-users {
    gap: 10px;
  }
  .sellers__cards {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  .hot__collections {
    padding-bottom: 100px;
  }
  .discover {
    padding-top: 70px;
  }
  .discover__filter-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .discover__navbar {
    display: none;
  }
  .discover__divider {
    display: none;
  }
  .discover__filter {
    width: 100%;
  }
  .discover__filter > span {
    display: none;
  }
  .advanced__filter {
    display: block;
  }
  .scroll__filter {
    display: none;
  }
  .filter__btns {
    width: 100%;
  }
  .footer__info {
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media all and (max-width: 700px) {
  .nav__right {
    display: none;
  }
  .burger__menu-icon {
    display: block;
  }
  .header__title {
    padding-top: 60px;
  }
  .title__main :first-child {
    display: none;
  }
  .title__main :nth-child(2) {
    display: block;
  }
  .title__main :last-child {
    font-size: 32px;
  }
  .first__section {
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
  }
  .first__section-left {
    padding: 0;
  }
  .first__section-right-users {
    width: 300px;
  }
  .left__section-user-wallet-info > h4 {
    font-size: 16px;
    line-height: 22px;
  }
  .left__section-user-wallet-info > h6 {
    font-size: 14px;
    line-height: 18px;
  }
  .right__section-users-info {
    width: 180px;
  }
  .right__section-hiden-users {
    display: none;
  }
  .sellers__cards-section-wrapper {
    padding: 80px 15px;
  }
  .popular__sellers-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .hot__bid-last-card {
    display: none;
  }
  .discover {
    padding-bottom: 60px;
  }
  .discover__section-third-card {
    display: none;
  }
  .discover__section-cards {
    display: none;
  }
  .discover__loading-icon-wrapper {
    display: none;
  }
  #discover__section-arrows {
    display: flex;
  }

  .promo {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  .promo__left {
    align-items: center;
    width: 100%;
  }
  .promo__left-title > h5 {
    text-align: center;
    font-size: 12px;
  }
  .promo__left-title > h2 {
    font-size: 48px;
    width: 300px;
    text-align: center;
  }
  .promo__left-btns {
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  .promo__left-btns :first-child {
    width: 300px;
  }
  .promo__left-btns :nth-child(2) {
    width: 300px;
  }
  .promo__right {
    width: 416px;
  }
}

@media all and (max-width: 520px) {
  .popular__seller-cards {
    gap: 30px;
  }
  .popular__sellers-hiden-card {
    display: none;
  }
  .card__arrows {
    gap: 30px;
  }
  .card {
    width: 240px;
    height: 280px;
  }
  .card__icons {
    justify-content: space-between;
  }

  .hot__bids {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .bid__card-second {
    display: none;
  }
  .hot__collections {
    padding-top: 60px;
    padding-bottom: 70px;
    gap: 30px;
  }
  .hot__collections > h2 {
    text-align: center;
  }
  .hiden__collection-card {
    display: none;
  }
  #collection__section-arrows {
    display: flex;
  }
  .bid__card {
    width: 280px;
  }
  .promo__left-title > h6 {
    text-align: center;
  }
  .discover__section-second-card {
    display: none;
  }
  .footer__wrapper {
    background: #23262f;
  }
  .footer__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__stacks-and-info {
    width: 100%;
  }
  .stacks {
    display: none;
  }
  .footer__hiden-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__hiden-info > h4 {
    color: #fcfcfd;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
  }
  .footer__hiden-info > img {
    width: 16px;
    height: 16px;
  }
  .footer__left :nth-child(2) {
    display: none;
  }
  .footer__left :last-child {
    display: block;
  }
  .info__list :nth-child(3) {
    display: none;
  }
  .info__list :last-child {
    display: block;
    color: #777e90;
  }
  .footer__right {
    width: 100%;
  }
  .footer__email-inp {
    width: 100%;
    padding: 10px;
  }
  .footer__email-inp > input {
    background: #23262f;
  }
  .footer__bottom {
    justify-content: center;
  }
  .footer__bottom :last-child {
    display: none;
  }
  .footer__divider {
    display: block;
  }
}
