* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background: #141416;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 382px;
}

.divider {
  height: 40px;
  width: 2px;
  border-radius: 2px;
  background-color: #353945;
}
.nav__left-list {
  display: flex;
  justify-content: space-around;
  width: 170px;
  color: #777e90;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.nav__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 573px;
}

.search__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #353945;
  padding: 5px 12px 5px 16px;
  border-radius: 8px;
  width: 256px;
  height: 40px;
  overflow: hidden;
  background-color: #141416;
}
.search__line > input {
  border: none;
  width: 180px;
  outline: none;
  background-color: transparent;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.search__line > img {
  opacity: 0.9;
  background: transparent;
  cursor: pointer;
}
.notification {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
.notification > img {
  width: 24px;
  height: 24px;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: #45b26b;
  margin-bottom: 25px;
}

.upload__btn {
  width: 80px;
  height: 40px;
  border-radius: 90px;
  background: #3772ff;
  padding: 12px, 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload__btn > span {
  background-color: #3772ff;
  color: #fcfcfd;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.wallet__btn {
  height: 40px;
  width: 145px;
  border-radius: 90px;
  border: 2px solid #777e91;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wallet__btn {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fcfcfd;
}

.header__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.title__main {
  text-align: center;
}
.title__main > h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #777e90;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.title__main > h1 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 24px;
}

.header__search-btn {
  height: 48px;
  width: 190px;
  border: 2px solid #777e91;
  border-radius: 90px;
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__search-btn > span {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.main__page {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}

.main__page-left {
  display: flex;
  width: 55%;
}
.main__page-left > img {
  width: 100%;
  border-radius: 16px;
}

.main__page-right {
  width: 370px;
  height: 752px;
}
.user__wallet-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.main__page-title {
  width: 352px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #fcfcfd;
}

.avatar__wallet-info {
  display: flex;
  justify-content: space-between;
  width: 352px;
}

.avatar {
  display: flex;
  gap: 8px;
  align-items: center;
}

.avatar > img {
  width: 40px;
  height: 40px;
}
.avatar__wallet-title > h6 {
  color: #4a4f5d;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.avatar__wallet-title > h5 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.wallet {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 160px;
}

.wallet > img {
  width: 40px;
  height: 40px;
}

.bid__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #23262f;
  width: 360px;
  height: 300px;
  padding: 26px;
  border-radius: 24px;
  text-align: center;
}

.current__bid > h4 {
  background-color: #23262f;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.current__bid > h2 {
  background-color: #23262f;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.current__bid > h3 {
  background-color: #23262f;
  color: #777e90;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.auction > h4 {
  background-color: #23262f;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
}

.auction__timer {
  display: flex;
  justify-content: space-between;
  width: 230px;
  background-color: #23262f;
}

.timer__nums {
  background-color: #23262f;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.timer__def {
  background-color: #23262f;
  color: #777e90;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.bid__btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
  padding: 0px;
  width: 360px;
  height: 104px;
}
.first__btn {
  width: 352px;
  height: 48px;
  background: #3772ff;
  padding: 16px 24px;
  border-radius: 90px;
  border: none;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.second__btn {
  width: 352px;
  height: 48px;
  padding: 16px 24px;
  border: 2px solid #353945;
  border-radius: 90px;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 90px;
  height: 40px;
}

.left-arrow {
  width: 40px;
  height: 40px;
}

.right-arrow {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid #353945;
  padding: 8px;
}

.first__section {
  display: flex;
  justify-content: space-between;
  margin-top: 130px;
  margin-bottom: 135px;
}
.first__section-left {
  display: flex;
  flex-direction: column;
  gap: 38px;
  padding-right: 20px;
}

.first__section-left > img {
  border-radius: 12px;
}
.left__section-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left__section-ava {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left__section-user-wallet-info > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.left__section-user-wallet-info > h6 {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.left__section-user-bid-info > p {
  color: #575a66;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3px;
}
.left__section-user-bid-info > div {
  padding: 4px 4px;
  border: 2px solid #10d856;
  border-radius: 4px;
  color: #45b36b;
  text-align: center;
}

.first__section-center {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.center__section-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 351px;
}
.center__bid-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center__bid-info > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.center__ava-eth {
  display: flex;
  align-items: center;
  gap: 11px;
}

.center__ava-eth > p {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.user__crypto-balance {
  border: 2px solid #45b36b;
  border-radius: 4px;
  color: #45b26b;
  padding: 4px 4px;
}

.center__bid-info > button {
  display: flex;
  align-items: center;
  border: 2px solid #777e91;
  border-radius: 90px;
  color: #fcfcfd;
  padding: 8px 12px;
  height: 32px;
  width: 98px;
}
#center__bid-btn {
  background: #3772ff;
  border: none;
}

.first__section-divider {
  background: #353945;
  width: 1px;
  height: 512px;
  margin: 0 10px;
}

.first__section-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-right: 10px;
}

.first__section-right > span {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.right__section-users-info {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 225px;
}
.right__section-user-name {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.right__section-user-wallet {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.crypto-name {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.right__section-bottom-divider {
  background: #353945;
  width: 224px;
  height: 1px;
}

.right__section-btn {
  border: 2px solid #777e91;
  border-radius: 90px;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 158px;
  height: 40px;
  padding: 12px, 16px;
}

#right__section-arrow {
  padding-left: 10px;
}

.sellers__cards-section-wrapper {
  background-color: #23262f;
  padding: 110px 50px;
}

.popular__seller-cards {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 0;
  background: #23262f;
}

.popular__sellers-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23262f;
}

.title__left > h3 {
  background-color: #23262f;
  color: #777e90;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}
.title__left > h2 {
  background-color: #23262f;
  color: #fcfcfd;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

#vector-left {
  background: #23262f;
  width: 20px;
  height: 25px;
  padding-left: 10px;
}

.title__right {
  background: #23262f;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title__right > h5 {
  background: #23262f;
  color: #b1b5c3;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}
.title__right > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 16px;
  gap: 18px;
  border: 2px solid #353945;
  border-radius: 12px;
  background: #23262f;
  width: 256px;
  height: 48px;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

#vector-right {
  background: #23262f;
  border: 2px solid #353945;
  border-radius: 100px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.sellers__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #23262f;
}

.cards__arrow-left {
  background: #23262f;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 16px;
  width: 200px;
  height: 250px;
  margin: 0 5px;
}

.card__icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.card__icons > button {
  background: #3772ff;
  border-radius: 24px;
  border: none;
  width: 51px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.card-cup {
  background: #3772ff;
}

.second__card {
  background: #9757d7 !important;
}
.card-circle {
  background: #9757d7;
}

.third__card {
  background: #45b26b !important;
}
.card-lightning {
  background: #45b26b;
}

.fourth__card {
  background: #23262f !important;
}

.card-circle2 {
  background: #23262f;
}

.card__divider {
  width: 150px;
  height: 1px;
  background: #353945;
}

.card__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__user > p {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
}

.card__user > span {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
}

.cards__arrow-right {
  background: #23262f;
  border: 1px solid #e6e8ec;
  border-radius: 50px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.hot__bids {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 136px;
  padding-bottom: 128px;
}

.hot__bid-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hot__bid-title > h2 {
  color: #fcfcfd;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.hot__bid-arrows {
  display: flex;
  gap: 8px;
}

.hot__bid-arrow-right {
  border: 2px solid #353945;
  border-radius: 40px;
  padding: 8px;
  width: 35px;
  height: 35px;
}

.hot__bid-cards {
  display: flex;
  justify-content: space-between;
}

.bid__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 256px;
  font-family: "Poppins";
  margin: 0 5px;
}

.card__title {
  display: flex;
  justify-content: space-between;
}

.card__title > h4 {
  color: #fcfcfd;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.card__title > span {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #45b36b;
  border-radius: 4px;
  width: 68px;
  height: 26px;
  color: #45b26b;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
}

.card__avatar-group {
  display: flex;
  justify-content: space-between;
}

.avatar__group :nth-child(2) {
  margin-left: -10px;
}

.avatar__group :last-child {
  margin-left: -10px;
}

.card__avatar-group > span {
  color: #e6e8ec;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.hot__bids-divider {
  background: #353945;
  border-radius: 1px;
  width: 256px;
  height: 1px;
}

.card__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.filter__info :nth-child(2) {
  color: #777e90;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.filter__info :last-child {
  color: #fcfcfd;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}

.card__filter > span {
  color: #777e90;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
