* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar__wrapper {
  background: #141416;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.divider {
  height: 40px;
  width: 2px;
  border-radius: 2px;
  background-color: #353945;
}
.nav__left-list {
  display: flex;
  gap: 32px;
  color: #777e90;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.nav__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.search__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #353945;
  padding: 5px 12px 5px 16px;
  border-radius: 8px;
  width: 256px;
  height: 40px;
  overflow: hidden;
  background-color: #141416;
}
.search__line > input {
  border: none;
  width: 180px;
  outline: none;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.search__line > img {
  opacity: 0.9;
  background: transparent;
  cursor: pointer;
}
.notification {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
.notification > img {
  width: 24px;
  height: 24px;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: #45b26b;
  margin-bottom: 25px;
}

.upload__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 90px;
  background: #3772ff;
  padding: 12px, 16px;
}
.upload__btn > span {
  background-color: #3772ff;
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.hiden__hero {
  display: none;
}

.user__wallet {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #353945;
  border-radius: 90px;
  padding: 5px 8px;
}

.user__wallet > span {
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.user__wallet > span > span {
  color: #45b26b;
  font-size: 14px;
  line-height: 16px;
}

.burger__menu-icon {
  display: none;
}

.header__cover-img {
  background: url(./assets/profilePageCover.png);
  background-size: cover;
  width: 100%;
  height: 326px;
}

.header__block-btns {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 25px;
  height: 300px;
}
.header__block-btns > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #777e91;
  border-radius: 90px;
  color: #fcfcfd;
  font-size: 14px;
  line-height: 16px;
  width: 170px;
  height: 40px;
}

.main__block-wrapper {
  background: #141416;
}

.main__block {
  display: flex;
  justify-content: space-between;
}

.main__block-left {
  display: flex;
  flex-direction: column;
  gap: 41px;
  background: #23262f;
  border: 1px solid #353945;
  border-radius: 16px;
  width: 256px;
  height: 689px;
  padding: 32px 35px;
  position: relative;
  bottom: 125px;
  margin: 0 10px;
}

.left__block-description {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.user__info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #fcfcfd;
  text-align: center;
}

.user__info > h3 {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 32px;
}

.user__id {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.user__id > span {
  font-size: 14px;
  line-height: 16px;
}

.left__block-description > p {
  color: #777e90;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.user__website {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fcfcfd;
  font-size: 14px;
  line-height: 16px;
}

.share__btns {
  display: flex;
  justify-content: space-between;
}

.share__btns > button {
  background: #3772ff;
  border-radius: 90px;
  border: none;
  color: #fcfcfd;
  font-size: 14px;
  line-height: 16px;
  width: 75px;
  height: 40px;
}

.social__media-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.left__block-divider {
  background: #353945;
  height: 1px;
}

.main__block-left > span {
  color: #777e90;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.main__block-right {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 73px;
  width: 800px;
}

.right__block-filters {
  display: flex;
  align-items: center;
  gap: 12px;
}
.right__block-filters > li {
  color: #777e90;
  font-size: 14px;
  line-height: 16px;
}

.right__block-filters :first-child {
  background: #e6e8ec;
  border-radius: 100px;
  color: #23262f;
  padding: 6px 12px;
}

.hot__bid-cards {
  display: flex;
  justify-content: space-evenly;
}

.bid__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 240px;
}

.card__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 24px;
}

.card__title > span {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #45b36b;
  border-radius: 4px;
  color: #45b26b;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 12px;
  width: 64px;
  height: 26px;
}

.card__avatar-group {
  display: flex;
  justify-content: space-between;
}

.avatar__group :nth-child(2) {
  margin-left: -10px;
}

.avatar__group :last-child {
  margin-left: -10px;
}

.card__avatar-group > span {
  color: #e6e8ec;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.hot__bids-divider {
  background: #353945;
  border-radius: 1px;
  height: 1px;
}

.card__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__filter > span {
  color: #777e90;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 20px;
}

.filter__info {
  display: flex;
  align-items: center;
  gap: 4px;
}

.filter__info > span {
  color: #777e90;
  font-family: "Poppins";
  font-size: 12px;
  line-height: 20px;
}

.hot__bid-hiden-card {
  display: none;
}

.hot__bid-last-card {
  display: none;
}

.loading__icon {
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.footer__wrapper {
  background-color: #141416;
}
.footer {
  padding-top: 80px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 48px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 256px;
}

.footer__left > h3 {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.footer__stacks-and-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stacks {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.info__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #777e90;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.footer__right {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 352px;
}

.footer__right > h4 {
  color: #fcfcfd;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.footer__right-subscription {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__right-subscription > p {
  color: #e6e8ec;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.footer__email-inp {
  display: flex;
  align-items: center;
  border-radius: 90px;
  border: 2px solid #353945;
  overflow: hidden;
  width: 100%;
  height: 48px;
  padding: 5px 10px;
}

.footer__email-inp > input {
  border: none;
  background: #141416;
  outline: none;
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 100%;
  padding: 5px 5px;
}

.footer__email-inp > img {
  background: #3772ff;
  border-radius: 100px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer__bottom > p {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.footer__bottom :last-child > span {
  color: #3772ff;
}

.footer__hiden-info {
  display: none;
}

@media all and (max-width: 1024px) {
  .divider {
    display: none;
  }
  .nav__left-list {
    display: none;
  }
  .main__block {
    justify-content: space-evenly;
  }
  .main__block-right {
    width: 544px;
  }
  .right__block-filters {
    justify-content: space-around;
    gap: 0;
  }
  .hot__bid-cards {
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 32px;
  }
  .loading__icon {
    margin-bottom: 30px;
  }
  .bid__card {
    width: 230px;
  }
  .card__title > h4 {
    font-size: 14px;
    line-height: 20px;
  }
  .hot__bid-fourth-card {
    display: none;
  }
  .hot__bid-hiden-card {
    display: flex;
  }

  .hot__bid-last-card {
    display: flex;
  }
  .footer__right {
    width: 304px;
  }
  .footer__left {
    width: 192px;
  }
  .footer__left > h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media all and (max-width: 768px) {
  .nav__right {
    gap: 10px;
  }
  .search__line {
    display: none;
  }
  .hiden__hero {
    display: block;
  }
  .upload__btn {
    display: none;
  }
  .user__wallet {
    display: none;
  }
  .burger__menu-icon {
    display: block;
  }
  .header__cover-img {
    height: 230px;
  }
  .header__block-btns {
    height: 175px;
  }
  .header__block-btns > button {
    font-size: 12px;
  }
  .main__block {
    flex-direction: column;
    justify-content: center;
  }
  .main__block-left {
    bottom: 35px;
    margin: 0 auto;
  }
  .main__block-right {
    padding-top: 20px;
    width: 100%;
  }
  .right__block-filters :nth-child(5),
  .right__block-filters :last-child {
    display: none;
  }
  .right__block-filters > li {
    font-size: 12px;
    line-height: 14px;
  }
  .bid__card {
    width: 256px;
    margin: 0 5px;
  }
  .footer__info {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .footer__stacks-and-info {
    margin: 0 15px;
  }
}
@media all and (max-width: 500px) {
  .footer__info {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer__stacks-and-info {
    margin: 0;
  }
  .footer__right {
    width: 260px;
  }
  .stacks {
    display: none;
  }
  .footer__divider {
    background: #353945;
    display: block;
    width: 100%;
    height: 1px;
  }

  .footer__hiden-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .footer__hiden-info > h4 {
    color: #fcfcfd;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
  }
  .footer__bottom {
    justify-content: center;
  }
  .footer__bottom :last-child {
    display: none;
  }
}
