* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #141416;
  font-family: "DM Sans";
  list-style-type: none;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.divider {
  height: 40px;
  width: 2px;
  border-radius: 2px;
  background-color: #353945;
}
.nav__left-list {
  display: flex;
  gap: 32px;
  color: #777e90;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.nav__right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.search__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #353945;
  padding: 5px 12px 5px 16px;
  border-radius: 8px;
  width: 256px;
  height: 40px;
  overflow: hidden;
  background-color: #141416;
}
.search__line > input {
  border: none;
  width: 180px;
  outline: none;
  background-color: transparent;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}
.search__line > img {
  opacity: 0.9;
  background: transparent;
  cursor: pointer;
}
.notification {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}
.notification > img {
  width: 24px;
  height: 24px;
}
.status {
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background: #45b26b;
  margin-bottom: 25px;
}

.upload__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  border-radius: 90px;
  background: #3772ff;
  padding: 12px, 16px;
}
.upload__btn > span {
  background-color: #3772ff;
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.hiden__hero {
  display: none;
}

.user__wallet {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 2px solid #353945;
  border-radius: 90px;
  padding: 5px 8px;
}

.user__wallet > span {
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.user__wallet > span > span {
  color: #45b26b;
  font-size: 14px;
  line-height: 16px;
}

.burger__menu-icon {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 2px solid #353945;
  border-radius: 90px;
  padding: 12px 16px;
}
.header__left > span {
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__right :first-child {
  color: #777e90;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
.header__right :last-child {
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.main__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  padding-top: 64px;
  padding-bottom: 136px;
}

.main__page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

.main__page-title > h1 {
  color: #fcfcfd;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.main__page-title > p {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main__page-title > p > span {
  color: #fcfcfd;
}

.main__page-cards {
  display: flex;
  align-items: center;
  gap: 32px;
}

.main__page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  border: 1px solid #353945;
  border-radius: 16px;
  padding: 16px 16px 24px;
}

.main__page-card > span {
  border: 2px solid #353945;
  border-radius: 90px;
  color: #fcfcfd;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  padding: 12px 16px;
}
#main-page-btn {
  background: #3772ff;
  border-radius: 90px;
  border: none;
}

.main__page > p {
  color: #777e90;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.main__page-mobile-cards {
  display: none;
}

@media all and (max-width: 1024px) {
  .divider {
    display: none;
  }
  .nav__left-list {
    display: none;
  }
  .header {
    justify-content: space-around;
  }
}
@media all and (max-width: 768px) {
  .nav__right {
    gap: 10px;
  }
  .search__line {
    display: none;
  }
  .hiden__hero {
    display: block;
  }
  .upload__btn {
    display: none;
  }
  .user__wallet {
    display: none;
  }
  .burger__menu-icon {
    display: block;
  }
  .header {
    justify-content: flex-start;
  }
  .header__right {
    display: none;
  }
  .main__page {
    padding-top: 32px;
    padding-bottom: 64px;
    gap: 32px;
  }
  .main__page-cards {
    display: none;
  }
  .main__page-mobile-cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
  .mobile__page-mobile-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile__page-mobile-card > div {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .mobile__page-mobile-card > div > span {
    color: #fcfcfd;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .main__page-bottom-divider {
    background: #353945;
    height: 1px;
    width: 100%;
  }
}
